@page
@model PrivacyModel
@{
    System.IO.File.WriteAllText("SimpleTradeBot.txt", string.Empty);
    ViewData["Title"] = "Запустить бота";
    SimpleTradeBotAsp.Jobs.TradeBotScheduler.Start();
}
<h1>@ViewData["Title"]</h1>

<p>Бот запущен.</p>

